@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  width: 10%;
  box-shadow: none !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-image: url("https://www.freelogoservices.com/api/main/images/1j+ojVVCOMkX9Wyrexe4hGfXlYeW8BVCjkKUgzNoYzZM...QZrkSQ7w6wytLhuJxwF4FkChBUGccA=");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 210px;
  background-color: var(--grey);
  min-height: calc(100vh - 100px);
  margin-bottom: 100px;
  letter-spacing: -1px;
}

#top-nav {
  display: grid;
}

ul {
  display: grid;
  grid-template-columns: 2fr 0.5fr 2fr;
  list-style-type: none;
  grid-gap: 10px;
  -webkit-padding-start: 0;
}

nav {
  padding-bottom: 77px;
}

#item1 {
  justify-self: end;
}

#item2 {

}

#item3 {
  justify-self: start;
}

button {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: grey;
  background: transparent;
  -webkit-appearance: button-bevel;
}

button:hover {
  cursor: pointer;
  color: black;
  text-shadow: 0 0 20px black;
}

.active-link {
  color: black;
  text-shadow: 0 0 20px black;
}

img {
  border-radius: 4px;
  min-height: 100px;
  min-width: 100px;
  width: 100%;
  height: auto;
  box-shadow: 0 0 10px black;
}

img:hover {
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: opacity .3s ease-out;
  -moz-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
}

#page {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr; 
}

#portfolios {
  display: grid;
  grid-template: 1fr / repeat(3, 0.2fr);
  grid-gap: 20px;
  justify-content: center;
  width: 100%;
  padding: 0 0 200px 0;
}

.img-1 {
  justify-self: end;
  display: grid;
  grid-template-rows: 1fr auto;
}

.img-2 {
  display: grid;
  grid-template-rows: 1fr auto;
}

.img-3 {
  justify-self: start;
  display: grid;
  grid-template-rows: 1fr auto;
}

.img-4 {
  justify-self: end;
  display: grid;
  grid-template-rows: 1fr auto;
}

.img-5 {
  display: grid;
  grid-template-rows: 1fr auto;
}

.img-6 {
  justify-self: start;
  display: grid;
  grid-template-rows: 1fr auto;
}

h2 {
  display: grid;
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: lighter !important;
  font-size: 18px;
  line-height: 1.9em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .06em;
  text-align: left;
  font-style: normal;
  color: #404040;
  place-self: start;
  margin: 0;
}

.ON {
  display: grid;
}

.OFF {
  display: none;
}

@media only screen and (max-width: 1000px) {

 #portfolios {
    display: grid;
    grid-template: 1fr / repeat(3, 0.4fr);
    grid-gap: 20px;
    justify-content: center;
    width: 100%;
    padding: 0 20px 200px 20px;
  }

}

@media only screen and (max-width: 750px) {

 #portfolios {
    display: grid;
    grid-template: 1fr / repeat(2, 0.4fr);
    grid-gap: 20px;
    justify-content: center;
    width: 100%;
    padding: 0 20px 200px 20px;
  }

}

/* Find Me */

#find-me {
  display: grid;
  width: 100%;
  justify-self: center;
  padding: 0 20px 200px 20px;
}

#find-me > h2 {
  text-align: center;
  place-self: center;
  padding: 40px 0 0 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* About Naveh */

#about {
  display: grid;
  width: 686.825px;
  justify-self: center;
  padding: 0 20px 200px 20px;
  grid-gap: 22px;
}

#about > img {
  min-width: 100px;
  width: 100%;
  height: auto;
  justify-self: center;
}

@media only screen and (max-width: 810px) {

  #about {
    display: grid;
    width: 90%;
    justify-self: center;
    padding: 0 20px 200px 20px;
    grid-gap: 22px;
  }

}

@media only screen and (max-width: 267px) {

  #about {
    display: grid;
    width: 70%;
    justify-self: center;
    padding: 0 20px 200px 20px;
    grid-gap: 22px;
  }

}

.sum {
  font-family: "Proxima Nova", sans-serif;
  text-align: start;
  font-size: 15px;
  line-height: 1.8em;
  text-transform: none;
  text-decoration: none;
  font-weight: 300;
  font-style: normal;
  margin: 0 0 1em;
  background-color: white;
  opacity: 0.9;
}

footer {
  border-bottom: 2px solid #000;
  font-size: 1em;
  letter-spacing: .06em;
  font-weight: 300;
  font-style: normal;
  justify-self: start;
  border-color: rgba(0,0,0,.2);
}

footer > a {
  text-decoration: none !important;
  color: grey;
}

footer:hover {
  border-color: black;
}

.ReactModal__Content {
  display: grid;
  width: 60%;
  height: 80%;
} 

.ReactModal__Content::-webkit-scrollbar {
  width: 1em;
}

.ReactModal__Content::-webkit-scrollbar-track {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.ReactModal__Content::-webkit-scrollbar-thumb {
  border-radius: 22px;
background-color: black;
outline: 1px solid slategrey;
}

.ReactModal__Content > img {
}

.ReactModal__Content--after-open {

}

.on {
  display: grid;
}

.off {
  display: none;
}

.project-meta,
.project-meta > a {
  display: grid;
  grid-gap: 20px;
}

.project-meta > a > img {
  display: grid;
  width: 50%;
  justify-self: center;
}

form {
  display: grid;
  
}